* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}
#container{
    width: 40%;
    text-align: center;
}
#pizza{
    max-width:60%;
    max-height:60%;
    width: auto;
    height: auto;
    margin: 25%;
}